# Object and binary files
*.o
*.obj
*.dll
*.exe
*.a
*.lib
*.autosave

# Makefile
Makefile

# Qt/IDE files
*.pro.user
*.qmake.stash

# Backup and temporary files
Backup/
*.tmp
*.log

# Images
*.png

# Folders
MNC_SCADA/
UpdateMNC_SCADA/

# Blocked files
[B.pro](blocked)
