# Object and binary files
*.o
*.obj
*.dll
*.exe
*.a
*.lib
*.autosave

# Makefile
Makefile

# Qt/IDE files
*.pro.user
*.qmake.stash

# Backup and temporary files
Backup/
*.tmp
*.log

# Images
*.png

# Folders
MNC_SCADA/
UpdateMNC_SCADA/

# Blocked files
Registry.qrc
config.ini
resources.qrc


# Temporary / unwanted files
A.pro.user.c6744e9
[B.pro](blocked)
"play underlined text in underline mode  (press RETURN)git --git-dir=D\357\200\272projectA.git --work-tree=D\357\200\272projectA status"
usersadmini~1appdatalocaltemptmphjfx50
usersadmini~1appdatalocaltemptmpzd8uhl
