
*.o
*.obj
*.dll
*.exe
*.a
*.lib
*.autosave
Makefile

*.pro.user
*.qmake.stash

Backup/
*.tmp
*.log


# Ignore binaries
*.dll
*.o

# Ignore Qt/IDE files
*.pro.user
*.autosave
*.qmake.stash

# Ignore images
*.png

# Ignore folders
MNC_SCADA/
UpdateMNC_SCADA/

